.exchangeBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.daiForm {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.dai {
  display: flex;
  flex-direction: row;
  text-align:center;
  justify-content: space-between;
}

.daiLend Button {
  margin-left: 2rem;
  height: 2rem;
}

.daiBorrow Button {
  margin-left: 2rem;
  height: 2rem;
}

.daiWithdraw Button {
  margin-top: 1rem;
  margin-left: 2rem;
  height: 2rem;
}

.ethForm {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.eth {
  display: flex;
  flex-direction: row;
  text-align:center;
  justify-content: space-between;
}

.ethLend Button {
  margin-left: 2rem;
  height: 2rem;
}

.ethBorrow Button {
  margin-left: 2rem;
  height: 2rem;
}

.ethWithdraw Button {
  margin-top: 1rem;
  margin-left: 2rem;
  height: 2rem;
}

.usdtForm {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.usdt {
  display: flex;
  flex-direction: row;
  text-align:center;
  justify-content: space-between;
}

.usdtLend Button {
  margin-left: 2rem;
  height: 2rem;
}

.usdtBorrow Button {
  margin-left: 2rem;
  height: 2rem;
}

.usdtWithdraw Button {
  margin-top: 1rem;
  margin-left: 2rem;
  height: 2rem;
}